agenda-digital-web/src/main/webapp/WEB-INF/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.web.digital.agenda.java.academia.everis.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.web.digital.agenda.java.academia.everis.com/" name="CidadeSOAPService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.web.digital.agenda.java.academia.everis.com/" schemaLocation="http://localhost:8088/agenda-digital-web/soap/ClienteSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="BusinessException">
<part name="fault" element="tns:BusinessException"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<portType name="CidadeSOAP">
<operation name="update">
<input wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/updateRequest" message="tns:update"/>
<output wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/updateResponse" message="tns:updateResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/update/Fault/BusinessException"/>
</operation>
<operation name="delete">
<input wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="read">
<input wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/readRequest" message="tns:read"/>
<output wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/readResponse" message="tns:readResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/createRequest" message="tns:create"/>
<output wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/createResponse" message="tns:createResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://soap.web.digital.agenda.java.academia.everis.com/CidadeSOAP/create/Fault/BusinessException"/>
</operation>
</portType>
<binding name="CidadeSOAPPortBinding" type="tns:CidadeSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CidadeSOAPService">
<port name="CidadeSOAPPort" binding="tns:CidadeSOAPPortBinding">
<soap:address location="http://localhost:8088/agenda-digital-web/soap/ClienteSOAP"/>
</port>
</service>
</definitions>